{erl_opts, [
    debug_info,
        {parse_transform, lager_transform}
]
}.

{deps, [
	hackney,
  iso8601,
        {enet, ".*", {git, "https://github.com/flambard/enet", {branch, "master"}}},
        {lager, ".*", {git, "https://github.com/erlang-lager/lager", {branch, "adt/lager_use_logger-option"}}}
        ]}.

